<div>
  <h1>Products!</h1>
  <table>
    <thead>
      <tr>
        <!--<th style="border:1px solid #000000">Id</th>-->
        <th style="border:1px solid #000000">Name</th>
        <th style="border:1px solid #000000">Unit Price</th>
        <th style="border:1px solid #000000"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Products; let i = index">
        <!--<td style="border:1px solid #000000">{{product.productId}}</td>-->
        <td style="border:1px solid #000000">{{product.productName}}</td>
        <td style="border:1px solid #000000">{{product.unitPrice}}</td>
        <td style="border:1px solid #000000"><button type="submit" class="btn btn-primary" action="AddToCart()">ADD to Cart</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th style="border:1px solid #000000">Name</th>
        <th style="border:1px solid #000000">Unit Price</th>
        <th style="border:1px solid #000000">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Cart; let i = index">
        <td style="border:1px solid #000000">{{product.productName}}</td>
        <td style="border:1px solid #000000">{{product.unitPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  function AddToCart(product) {
    Cart.product
    product;
  }

</script>
